h1 {
  color: red;
  font-size: 4rem;
  text-decoration: underline;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

a:hover {
  color: red;
}

p {
  width: 300px;
  text-align: justify;
}

img {
  border: 2px black solid;
}
